html, body, div, span, object, h1, h2 ,h3,h4,h5,h6,p,b,u,i,center,ol,ul,li,table,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{height: 100%;}
body{
	height: 100%;
	background-color: #FFF;
	font-size: 100%;
}

ol, ul {list-style: none;}
*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover{text-decoration: none;}

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.row:after,
.clearfix:after {clear:both;}


.left{float: left;}
.right{float: right;}



.container {
  
  margin-right: auto;
  margin-left: auto;
	width: 90%;
	
}




.cols{
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	
	text-align: center;
	 word-wrap:break-word;
}



.col-1{width: 100%}
.col-2{width: 100%}
.col-3{width: 100%}
.col-4{width: 100%}
.col-5{width: 100%}
.col-6{width: 100%}
.col-7{width: 100%}
.col-8{width: 100%}
.col-9{width: 100%}
.col-10{width: 100%}
.col-11{width: 100%}
.col-12{width: 100%}


@media screen and (min-width:){
	
	
.col-1{width:8.333333333333%}
.col-2{width: 16.666666666666%}
.col-3{width: 25%}
.col-4{width: 33.333333333333%}
.col-5{width: 41.666666666665%}
.col-6{width: 50%}
.col-7{width: 58.333333333331%}
.col-8{width: 66.666666666664%}
.col-9{width: 74.999999999997%}
.col-10{width: 83.33333333333%}
.col-11{width: 91.666666666663%}
.col-12{width: 100%}
	
	
	
}


/*------------NAV------------*/

.firstBlock{
	
	height: auto;
	background: #222 url(../img/bg.png) no-repeat center bottom;
	 width: 100%;
    background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	padding-top: 5.194805194805195%;
	
	
}

.firstBlock a{margin-top: 2%; padding-top: 1.5%;padding-bottom: 1.5%;}

#menu-trigger{ font-size: 1.6em; display: block;width: 100%;}


.navBar{display: none;}

/* Grow */
.hvr-grow {
	font-size: 	1.2em;
	font-family: "Helvetica Narrow", sans-serif;
	color: #e3d9d9;
	
	padding-top: 1.8%;
	cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media screen and (min-width: 768px){
	#menu-trigger{display: none;}
	.navBar{display: block;margin-top:2.597402597402597%; }
	.navBar li{display: inline-block; padding:0 1.302083333333333%;}
	
	.hvr-grow {font-size: 	1.3em;}
	
	.firstBlock{padding-top: 7%;}
	
	.firstBlock{height: auto;}
}

@media screen and (min-width: 1024px){
	
	.firstBlock{text-align: right;padding-top: 5.194805194805195%}
	.firstBlock img {float: left;}
	.hvr-grow {margin-top: 0; padding-top: 0;font-size: 1em;}
	.navBar{margin-top: 0;padding-top: 0;}
	.navBar li{margin-left: 0.3%;}
	.firstBlock{height: 100%;}
}

/*---------NAV END------------*/

.captions{text-align: center;margin-top: 15%;}
.captions h1{
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: "Lucida", sans-serif;
}
.captions p{
	margin-top: 3%;
	color: #ffffff;
	font-size: 0.9em;
	font-family: "Florence", cursive;
	margin-bottom: 7.236842105263158%;
	
}

/* Outline Out */
.hvr-outline-out {
	margin-bottom: 25%;
	color: aliceblue;
	font-size: 1.2em;
	font-family: "Lucida", sans-serif;
	padding: 11%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
	cursor: pointer;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


@media screen and (min-width: 768px){
	.captions{text-align: center;margin-top: 13%;}
	.captions h1{
	font-size: 2em;
}
	.captions p{font-size: 1.1em;margin-bottom: 4.236842105263158%;}
	
	.hvr-outline-out {
	margin-bottom: 10%;
}
}


@media screen and (min-width: 1024px){
	.captions{text-align: center;margin-top: 16%;}
	.captions h1{
	font-size: 3em;
		font-family:"Lucidatypewriter", monospace;
}
	.captions p{font-size: 1.1em;margin-bottom: 2.236842105263158%;margin-top: 1%;}
	.hvr-outline-out {padding: 3%;}
	
	.hvr-outline-out {
	margin-bottom:0;
}
	
}
	
/*-----services------*/

.Services{text-align: center;padding-top: 7%;width: 100%;height: auto;}

.Services h1{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: "Lucida", sans-serif;
	color: #555555;
	margin-bottom: 3%;
}

.Services p{
	
	color: #8b8b8b;
	font-size: 0.9em;
	font-family: "Florence", cursive;
	margin-bottom: 6%;
	
}
.Services b{
	
	color: #8b8b8b;
	font-size: 0.9em;
	font-family: "Florence", cursive;
	padding-bottom: 25%;
	
}

.Services h2{
	font-size: 1em;
	text-transform: uppercase;
	font-family: "Lucida", sans-serif;
	color: #555555;
}

.Services img{max-width: 100%;
    height: auto;margin-top: 6%;margin-bottom: 6%;}

@media screen and (min-width: 768px){
	.col-4{width: 33.333333333333%}
	.Services h1{font-size: 1.5em;}
	.Services img{margin-bottom: 7%;margin-top: 7%;}
	
}
@media screen and (min-width: 1024px){
	.Services h1{font-size: 2em;margin-bottom: 2%;}
	.Services img{margin-bottom: 8%;margin-top: 11%;}
	.Services p{font-size: 1em;margin-bottom: 2%;}
	.Services h2{margin-bottom: 3%;}
	.Services b{font-size: 1em;}
}


/*---------services end--------------*/


/*----------ABOUT US-------------*/
.aboutUs{text-align: center;margin-top: 14%;width: 100%;height: auto; }


.aboutUs h1{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: "Lucida", sans-serif;
	color: #555555;
	margin-bottom: 2%;
	margin-top: 10%;
}

.aboutUs p{
	
	color: #8b8b8b;
	font-size: 0.9em;
	font-family: "Florence", cursive;
	margin-bottom: 6%;
	
}

.aboutUs b{
	display: none;
	color: #8b8b8b;
	font-size:1em;
	font-family: "Florence", cursive;

	
}

.aboutUs h2{
	font-size: 1em;
	text-transform: uppercase;
	font-family: "Lucida", sans-serif;
	color: #555555;
	margin-top: 13%;
}


#aboutimg{
	cursor: pointer;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 768px){
	.aboutUs h1{font-size: 1.5em;}
	.col-3{width: 50%}
	.aboutUs p{font-size: 1em;margin-bottom: 2%;}
}


@media screen and (min-width: 1024px){
	.aboutUs h1{font-size: 2em;margin-bottom: 2%;margin-top: 16%;}
	.aboutUs h2{font-size: 1.3em;}
	.aboutUs p{font-size: 1em;margin-bottom: 2%;}
	.aboutUs h2{margin-bottom: 3%;}
	.col-3{width: 25%}
	.aboutUs b{
		display: block;
	margin-bottom: 7%;
		margin-top: 7%;
	}

	
	.col-6{width: 50%;}
	.facebookContPErsonal{display: none;}
	.hovereffect {
		margin-bottom: 11%;}
	
}

/* ===== HOVER FOTO CONTACT   ====*/

.hovereffect {
	
	cursor: pointer;
 width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}



.hovereffect .overlay {
   max-width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #f8f8f8;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
	max-width: 100%;
	height: auto;
  
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
	max-width: 100%;
	height: auto;
}



.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
	text-align: center;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}


.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,

.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/* ===== HOVER FOTO CONTACT  END ====*/
.facebookContPErsonal{font-size: 1.7em;margin-right: 3%;cursor: pointer;}

/*----------ABOUT US END-------------*/

/*
.firstBlock ul{float: right;}
.firstBlock ul li{display: inline;}

*/

